body {
    font-family: 'Zen Kaku Gothic Antique', Arial, sans-serif;
    background-color: rgb(243, 243, 243);
    color: black;
    font-size: 13pt;
}
.skip {
    display: block;
}
.skip a{
    position: absolute;
    top: -100px;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 0px;
    z-index: 1;
    color: black;
    background-color: rgb(243, 243, 243);
}

a {
    color: inherit;
}


header {
    width: 100vw;
    padding: 0%;
    margin: 0px auto;
    
} 

header, footer, .contents, h3 {
    color: white;
    background-color: rgb(102, 5, 5);
}


.nav ul li:not(:first-child){           
    display: none;
}


.nav.responsive ul li:not(:first-child) { 
    display: block;
}

header li {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid black;
    padding: 6px;
    width: inherit;
    text-decoration: none;
}

header .fas {
    position: absolute;
    right: 15px;
    top: 11px;
}

header li:first-child {
    border-top: 6px solid black;
    position: relative;
}

header li:last-child {
    border-bottom: 6px solid black;
}

header a{
    text-decoration: none;
    color: white;
}

header li a#current{
    font-weight: bold;
    text-shadow: 2px -2px rgb(0, 0, 0);
    border-bottom: 2px solid white;
}

header li a:hover, header li a:focus {
    font-weight: bold;
}


main {
    margin: 18px;
    letter-spacing: .4px;
    word-spacing: 1px;
    line-height: 1.4; 
}

.border {
    display: none;
}
.parallax, .place h3 {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.parallax {
    background-image: url("../images/parallax.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.parallax ul {
    list-style: disc;
    list-style-position: inside;
    justify-content: center;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.parallax ul li {
    padding: 6px 6px 0 6px;
    margin-top: 14px;
    background-color: rgba(243, 243, 243, 0.89);
}

.parallax ul li:last-child {
    padding-bottom: 10px;
}



.parallax img {
    position: sticky;
    top: 25vh;
    z-index: -1;
    padding-top: 20px;
}

main a {
    font-weight: bold;
}



h1 {
    font-size: 21pt;
    font-family: 'Crimson Text', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px 20px 5px;
    text-decoration: none;
    line-height: 1.1;
}

h1 img {
    height: 50px;
}


h2 {
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 20px;

}

.contents {
    padding: 20px 20px 20px 30px;
    width: fit-content;
    line-height: 1.3;
    margin: 0 auto 20px auto;
    text-shadow: 2px -2px rgba(0, 0, 0, .5);
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contents a {
    text-decoration: none;
}

h3 {
    text-shadow: 2px -2px rgb(0, 0, 0);
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.1;
    vertical-align: middle;
    text-align: center;
    padding: .5em 0;
    margin: .5em 0;
    text-transform: uppercase;
    border: 5px solid rgba(0, 0, 0, 0.5);
}

.source-text h3 {
    text-transform: none;
    text-shadow: none;
    color: inherit;
    background-color: inherit;
    border: none;
}

h4 {
    font-size: 14pt;
    font-weight: bold;
}


.two-vertical {
    display: grid;
    grid-column-gap: 10px;
    row-gap: 8px;
}


:not(.source-text, footer) > p {
    margin-bottom: 10px;
    text-indent: 40px;
}

.map {
    margin: 10px auto;
    display: block;
    max-width: 90%;
}

figure {
    text-align: center;
}

.sources {
    display: flex;
    flex-direction: column;
}

.transcription, .transcription p {
    text-align: center;
    text-indent: 0;
}

.place img {
    margin-bottom: 10px;
    padding: 0 4px;
}


.source {
    background-color: rgb(235, 224, 165);
    background-repeat: no-repeat;
    height: 400px;
    width: 292px;
    background-size: auto 100%;
    text-align: center;
    overflow: hidden;
    margin: 20px auto;
    background-position: center;
}

.source:hover, .source:focus {
    overflow: scroll;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.sources .source .source-text {
    padding: .4em 5px;
    background-color: #ffffffeb;
    min-height: 400px;
    width: inherit;
    position: relative;
    top: 75%;
}


.sources .source:hover .source-text, .sources .source:focus .source-text {
    position: relative;
    top: 0%;
    transition-duration: 300ms;
    transition-property: top;
}

.sources #de-excidio {
    background-image: url("../images/sources/deexcidiobritanniae.jpg");
}

.sources #y-gododdin {
    background-image: url("../images/sources/ygododdin.jpg");
}

.sources #historia-brittonum {
    background-image: url("../images/sources/historiabrittonum.jpg");
}

.sources #annales-cambriae {
    background-image: url("../images/sources/annalescambriae.jpg");
}

.sources #pa-gur {
    background-image: url("../images/sources/pagur.jpg");
}

.sources #preiddeu-annwfn {
    background-image: url("../images/sources/preiddeuannwfn.jpg");
}

.sources #welsh-triads {
    background-image: url("../images/sources/welshtriads.jpg");
}

.sources #culhwch-and-olwen {
    background-image: url("../images/sources/culhwchandolwen.jpg");
}

.sources #gesta-regum-anglorum {
    background-image: url("../images/sources/gestaregumanglorum.jpg");
}

.sources #historia-regum-britanniae {
    background-image: url("../images/sources/historiaregumbritanniae.jpg");
}

.sources #goeznovius {
    background-image: url("../images/sources/goeznovius.jpg");
}

.sources #de-principis-instructione {
    background-image: url("../images/sources/deprincipisinstructione.jpg");
}

footer {
    padding: 10px 20px;
    border-top: solid 4px black;
    line-height: 1.2;
}

form {
    text-align: center;
    min-height: 60vh;
}

legend, label {
    font-weight: bold;
}

legend {
    margin: 0 auto;
}

input, textarea {
    width: 70%;
    margin-bottom: 20px;
    padding: 5px;
}

input#submit {
    width: 60%;
}

textarea {
    height: 4em;
}



@media screen and (min-width: 768px) {
    body {
        font-size: 14pt;
    }
    h1 {
        font-size: 24pt;
    }

    .nav ul li:not(:first-child){
        display: block;
    }

    .nav ul li:first-child {
        display: none;
    }

    .nav ul {
        display: grid;
        grid-template: auto auto / 1fr 1fr 1fr;
    }

    .nav ul li:nth-child(2), .nav ul li:nth-child(3), .nav ul li:nth-child(4) {
        border-top-width: 6px;
    }

    .nav ul li:nth-child(5), .nav ul li:nth-child(6), .nav ul li:nth-child(7) {
        border-bottom-width: 6px;
    }

    main {
        margin: 2em;
        line-height: 1.4;
    }

    .parallax {
        background-attachment: fixed;
        background-size: contain;
        background-position: 0% 60%;
    }

    .parallax ul li {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        display: grid;
        width: 90%;
        margin: 0 auto;
        grid-template: auto / 1fr 2fr;
    }

    .contents {
        width: max-content;
        height: fit-content;
    }

    .intro p {
        margin-left: 30px;
    }

    .place h3 {
        width: 100%;
        margin: 1em auto;
        position: static;
    }

    .unit:nth-of-type(odd) {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        grid-column-gap: 20px;
        row-gap: 8px;
        margin: 30px 0;
    }

    .unit:nth-of-type(even) {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        grid-column-gap: 20px;
        row-gap: 8px;
        margin: 30px 0;
    }

    .border {
        display: block;
        background-image: url("../images/border.png");
        background-size: 80%;
        background-repeat: repeat-y;
        grid-row: 1 / span 2;
    }

    .unit:nth-of-type(even) .border {
        grid-column: 3 / span 1;
    }
    
    .unit img, .unit figure {
        grid-column: span 2;
        margin: 0 auto 10px auto;
    }

    .horizontal img {
        width: 80%;
    }

    .vertical img {
        width: 70%;
    }

    .two-vertical img {
        grid-column: span 1;
    }

    .unit p, .transcription {
        grid-column: span 2;
    }

    .sources {
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .source {
        width: 300px;
        margin: 20px;
    }

    input, textarea {
        width: 500px;
    }

}



@media screen and (prefers-reduced-motion: reduce) {
    .parallax {
        background-image: url("../images/parallax.jpg");
        background-size: cover;
        background-attachment: scroll;
    }
}
    

